In [3]:
import pandas as pd

# Load dataset
df = pd.read_csv("C:/Users/ThinkPAD/Documents/Telco Customer Churn/telco_data/WA_Fn-UseC_-Telco-Customer-Churn.csv")

# Preview
print(df.head())
print(df.info())
print(df.isnull().sum())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [10]:
# Drop rows with blank TotalCharges
df = df[df["TotalCharges"] != " "]

# Convert TotalCharges to numeric
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"])
print(df["TotalCharges"])

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7032, dtype: float64

In [11]:
# Save cleaned version
df.to_csv("C:/Users/ThinkPAD/Documents/Telco Customer Churn/telco_data/telco_clean.csv", index=False)

In [12]:
import numpy as np
import random
from datetime import datetime, timedelta

In [17]:
#Create Support Calls Table and save csv file

support_calls = []
for cust in df["customerID"].sample(1000):  # 1000 random customers
    for _ in range(random.randint(1,5)):  # 1â€“5 calls
        call_date = datetime(2022,1,1) + timedelta(days=random.randint(0,365))
        issue = random.choice(["Billing", "Technical", "Contract", "Other"])
        resolution_time = random.randint(5,60)  # in minutes
        resolved = random.choice(["Yes", "No"])
        support_calls.append([cust, call_date, issue, resolution_time, resolved])

support_df = pd.DataFrame(support_calls, columns=["customerID","call_date","issue_type","resolution_time","resolved"])
support_df.to_csv("C:/Users/ThinkPAD/Documents/Telco Customer Churn/telco_data/support_calls.csv", index=False)

In [20]:
#Create Payments Table and save csv file 

payments = []
for cust in df["customerID"]:
    for month in range(1, 13):  # 12 months
        payment_date = datetime(2022, month, random.randint(1,28))
        amount = df.loc[df["customerID"]==cust, "MonthlyCharges"].values[0]
        method = random.choice(["Credit Card", "Direct Debit"," Bank Transfer", "Cash"])
        payments.append([cust, payment_date, amount, method])

payments_df = pd.DataFrame(payments, columns=["customerID", "payment_date", "amount", "method"])
payments_df.to_csv("C:/Users/ThinkPAD/Documents/Telco Customer Churn/telco_data/payments.csv", index=False)

In [8]:
from sqlalchemy import create_engine
import pandas as pd

# Update with your Postgres username, password, db
engine = create_engine("postgresql://postgres:rijaa@localhost:5433/telco_project")

#df.to_sql("customers", engine, if_exists="append", index=False)
support_df = pd.read_csv("C:/Users/ThinkPAD/Documents/Telco Customer Churn/telco_data/support_calls.csv")
payments_df = pd.read_csv("C:/Users/ThinkPAD/Documents/Telco Customer Churn/telco_data/payments.csv")  


support_df.to_sql("support_calls", engine, if_exists="append", index=False)
payments_df.to_sql("payments", engine, if_exists="append", index=False)

ProgrammingError: (psycopg2.errors.InvalidSchemaName) no schema has been selected to create in
LINE 2: CREATE TABLE support_calls (
                     ^

[SQL:
CREATE TABLE support_calls (
	"customerID" TEXT,
	call_date TEXT,
	issue_type TEXT,
	resolution_time BIGINT,
	resolved TEXT
)

]
(Background on this error at: https://sqlalche.me/e/20/f405)